body {
  font-family: 'Noto Sans', sans-serif;
}

header {
  color: #fff !important;
  background-color: #000 !important;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  margin: 0px 20px;
}

nav {
  margin: 0px 20px;
  display: flex;
  gap: 20px;
}

nav > a {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
}

main {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.list {
  flex-basis: 60%;
}

.list table {
  width: 80%;
}

.list td,
.list th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.list tr:hover {
  background-color: #ddd;
}

.list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.list .see-more {
  background-color: #555555; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.details {
  flex-basis: 40%;
  border: 1px solid black;
  padding: 20px;
}

.details textarea {
  width: 100%;
  padding: 10px 20px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 10px 5px;
  background: #000;
  color: white;
  width: 100vw;
}
