<ul>
<% for (let i =0; i < blocks.length;  i++ ) { %>
   <li>
    <div>
      <p><%= JSON.stringify(blocks[i]?.hash) %></p>
      <p><%= JSON.stringify(blocks[i]?.data) %></p>
    </div>
  </li>
  <br>
<% } %>
</ul>
<!-- Working on design here: https://codesandbox.io/s/edu-chain-view-t8ktcz?file=/index.html -->
