<section class="list">
  <table>
    <tr>
      <th>Id</th>
      <th>ResourceId</th>
      <th>Action</th>
      <th>Options</th>
    </tr>
    <% for (const transactionId in pendingTransactions) { %>
      <tr>
        <td><%= transactionId %></td>
        <td><%= pendingTransactions[transactionId].data.resourceId %></td>
        <td><%= pendingTransactions[transactionId].data.action %></td>
        <td>
          <button class="see-more" onclick="seemoreTransaction('<%= transactionId %>')">
            Ver más
          </button>
          <button>Mine</button>
        </td>
      </tr>
    <% } %>
  </table>
</section>
<section class="details">
      <h2> Transaction </h2>
      <div class="details-box">
        <div class="details-box-id">
          <label>Id:</label>
          <p></p>
        </div>
        <div class="details-box-information">
          <label>Information</label>
          <textarea>{ "data": 1234 }</textarea>
        </div>
        <div>
</section>
  