<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
     body {
      margin: 0px;
     }
     header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      background-color: beige;
     }
     header nav {
      display: flex;
      gap: 20px;
     }
  </style>
</head>
<body>
  <header>
    <h2>DeEdu Node</h2>
    <nav>
      <a href="/">Blocks</a>
      <a href="/pool">Transaction Pool</a>
    </nav>
  </header>
  <main>
    <section>Table</section>
    <h2>Blocks</h2>
    <table>
      <thead>
        <th>ID</th>
        <th>Hash</th>
        <th>Data</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <td>11234</td>
        <td>11234</td>
        <td>11234</td>
        <td><button>View More </button></td>
      </tbody>
    </table>
    <section>Details</section>
  </main>
  <footer>DeEduChain 2020</footer>
</body>
</html>
