<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="UTF-8">

    <title><%- title %></title>
  
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="theme-color" content="#5540af" />

    <link rel="stylesheet" href="./styles/sanitize.css">
    <link rel="stylesheet" href="./styles/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
  </head>  
</head>
<body>
    <div class="bg-red-500">
        <%- include('../partials/header.ejs') %>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs') %>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>
